<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://tsuixl-test.oss-cn-shenzhen.aliyuncs.com/ipa/mh_debug_1_(999-999-999)_(-1_-1_-1_-1)_(19)_mhm-client-alpha5.1.ipa</string> 
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.jiguang.mgame.mhmbranch</string>
                <key>bundle-version</key>
                <string>999.999.999</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>魔幻5.1分支</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
